{% extends 'base.html' %} {% block title %}Create Blog{% endblock title %}
{%block body %}
<div class="container">
  <div class="row text-center">
    <div class="col-xl-10 mx-auto">
      <img class="img-fluid mb-5" src="/media/{{blog_obj.image}}" alt="" />
    </div>
    <div class="container"><h1>{{blog_obj.title}}</h1></div>
  </div>

  <div class="row">
    {% comment %}
    <div class="text-content">{{blog_obj.title}}</div>
    {% endcomment %}
    <div class="col-xl-8 col-lg-10 mx-auto">
      <div class="text-content">{{blog_obj.content|safe}}</div>
    </div>
  </div>
</div>
{% endblock body %}
