{% extends 'base.html' %}
{% block title %}User{% endblock title %}
{% block body %}
{% if messages %}
<div class="alert alert-{{color}}" role="alert">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="container">
  <div class="row mb-5">
    <!-- blog item-->
    {% for blog in blogs %}
    <div class="col-lg-4 col-sm-6 mb-4 hover-animate">
      <div class="card shadow border-0 h-100">
        <a href="{% url 'blog_detail' blog.slug %}">
          <img class="img-fluid card-img-top" src="/media/{{blog.image}}" alt="..."/></a>
        <div class="card-body"><a class="text-uppercase text-muted text-sm letter-spacing-2" href="#">
          {{blog.category}} </a>
          <h5 class="my-2"><a class="text-dark" href="{% url 'blog_detail' blog.slug %}">
           {{blog.title}}          </a></h5>
          <p class="my-2 text-muted text-sm">
            {{blog.summary}}</p>
          <!-- <p class="my-2 text-muted text-sm">
            {{blog.content|safe}}
          </p>
        -->
          <a class="btn btn-link pl-0"href="{% url 'blog_detail' blog.slug %}">Read more<i class="fa fa-long-arrow-alt-right ml-2"></i></a> 
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
  {% endblock body%}

{% comment %} <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">C</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        {%for data in userData%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{data.fname}}</td>
        <td><img src="/media/{{data.image}}"height="200px"></td>
        <td>{{data.role}}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock body%} {% endcomment %}